* {
    border: 0;
    margin: 0;
}
li {
    border: 0;
    margin: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #545454;
}
.box1 {
    width: 1440px;
    margin: 0 auto;
}
.box2 {
    width: 1040px;
    margin: 0 auto;
}
body {
    background-color: #fafbfc;
}
.top {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 1440px;
    height: 65px;
    background-color: #594dc3;
    text-align: center;
    margin-bottom: 130px;
}
.top ul {
    position: relative;
    padding: 0;
}
.top ul li {
    float: left;
    width: 130px;
    height: 65px;
    margin: 0 10px;
    font-size: 20px;
}
div ul .ch {
    position: absolute;
    left: 1025px;
    top: 15px;
}
.top ul li:hover {
    background-color:  #493cb7;
}
.top ul li a {
    line-height: 65px;
    color: #f6f5fb;
}
.top ul li img {
    width: 40px;
    margin-top: 15px;
}
.top ul li input {
    margin-top: 15px;
    width: 160px;
    height: 30px;
    outline: none;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 0 15px;
}
h3 {
    font-size: 18px;
    color: #6b65cb;
    font-weight: 700;
}
.products {
    height: 350px;
    margin: 53px auto 0 auto;
    width: 1040px;
    background-color: #ffffff;
}
.products .nav1 {
    display: flex;
    justify-content: center;
    height: 80px;
}
.products .nav1 span {
    line-height: 55px;
    width: 70px;
    font-size: 17px;
    color: #545454;
    margin: 12px 24px;
}
.products .nav1 span:hover {
    font-weight: 700;
    border-bottom: 2px solid #f7954c;
}
.intro {
    display: flex;
    width: 1040px;
    height: 215px;
    /* background-color: skyblue; */
}
.intro .nav2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0;
    /* background-color: pink; */
    height: 215px;
    width: 100px;
}
.intro .nav2 li {
    width: 100px;
    height: 35px;
}
.intro .nav2 li a {
    line-height: 35px;
    font-size: 15px;
    padding-left: 20px;
    box-sizing: border-box;
    font-weight: 700;
}
.intro .nav2 li:hover {
    background-color: #9a92fb;
    color: #fff;
}
.intro .xiangqing {
    display: flex;
    justify-content: space-between;
    margin-left: 65px;
    box-sizing: border-box;
    width: 715px;
    height: 215px;
    /* background-color: yellowgreen; */
}
.intro .xiangqing div {
    width: 203px;
    height: 215px;
}
.intro .xiangqing div img {
    width: 203px;
}
.intro .xiangqing div p {
    font-size: 14px;
}